* {
	box-sizing: border-box;
}

body{
	background-color: #e6e6e6;
	margin: 0;
}


.container {
	width: 90%;
	margin-left: auto;
  	margin-right: auto;
}

.row {
	position: relative;
	width: 100%;
	margin: auto;

}

.row [class*="col-"] {
    float: left;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* smarphones */
@media only screen and (max-width: 450px) {
	.row [class*="col-"]{
		width: 100%;
	}
}

/* tablets */
@media only screen and (max-width: 768px) {
	.row [class*="col-"]{
		width: 100%;
	}
}

@media only screen and (min-width: 901px){

.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}
}

.header {
	position: relative;
	height: 150px;
	width: 100%;
	background-color: #e6e6e6;
	margin: 0;
	padding: 0;
	display: flex;
}

.logo {
	width: 100px;
	height: 100px;
	background-color: crimson;
	margin-left: 90px;
	margin-top: 25px;
}

.logo img {
	width: 100%;
	height: inherit;
	object-fit: cover;
}

.name{
	width: 400px;
	height: 100px;
	margin-top: 25px;
	text-align: center;
}

.school_name {
	margin-bottom: 0;
	font-family: Rockwell, serif;
}

.top_name {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 42px;
	font-weight: normal;
}

.bottom_name {
	margin-top: 0;
	font-size: 30px;
	font-weight: normal;
}

.border_bottom_line {
	width: 85%;
	height: 2px;
	background-color: black;
	margin: 0;
	position: relative;
	left: 30px;
}

.top_right_header {
	width: 61%;
	height: 100px;
}

.lang_select {
	width: 130px;
	height: 20px;
	background-color: white;
	position: relative;
	float: right;
	margin-top: 0;
	margin-right: 25px;
	padding: 0;
	display: flex;
}

.sub_menu_value{
	text-align: center;
	background-color: white;
	margin-left: 1px;
	padding: 1px;
}

.sub_menu_value span{
	width: inherit;
	height: inherit;
	margin: 0;
	padding: 0;
}

.sub_menu_value a {
	text-decoration: none;
	margin: 0;
	color: #000;
}

.arrow {
	width: 10px;
	height: 10px;
	display: inline;
}


.arrow img{
	width: inherit;
	height: inherit;
	margin: 1px;
	padding: 0;
}

.arrow:hover {
	background-color: transparent;
	border: solid 1px grey;
}

.sign {
	width: 100px;
	height: 20px;
	background-color: #000;
	float: right;
	font-family: muli, sans-serif;
	text-align: center;
}

.login_tag {
	position: relative;
	margin: 5px;
	background-color: #314996;
}

.login_tag a{
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}

.register_tag {
	position: relative;
	margin: 5px;
	background-color: #314996;
}

.register_tag a{
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}

.login_tag:hover {
	border: solid 1px black;
}

.register_tag:hover {
	border: solid 1px black;
}

.col-12{
	height: 700px;
	background-color: yellow;
	margin: 0;
}

/* Navigation Bar */

.navigation_bar {
	width: 100%;
	height: 80px;
	background-color: #314996;
	position: relative;
}

.nav_list {
	width: 100%;
	height: inherit;
	position: absolute;
	text-decoration: none;
	overflow: hidden;
	list-style: none;
	margin: auto;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	
}

.nav_list li {
	height: inherit;
	color: #fff;
	float: left;
	padding-top: 28px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	margin-left: 30px;
	font-family: Roboto Condensed, serif;
	font-size: 24px;

}

.nav_list li:hover {
	background-color: lightblue;
	color: #000;
}

/* smartphone and tablets */
@media only screen and (max-width: 900px){
	.navigation_bar {
		width: 100%;
		height: 300px;
		text-align: center;
	}
}

@media only screen and (max-width: 900px){
	.nav_list li{
		width: 100%;
		height: 50px;
		font-size: 20px;
		margin-bottom: 5px;
		padding-bottom: 10px;
	}
}

/*End of Nav Bar*/

.col-3{
	height: 300px;
	background-color: green;
	position: relative;
	text-align: center;
}

.col-3 h2{
	z-index: 100%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	float: right;
	color: white;
	margin: 0;
}

.info {
	margin: 15px;
	position: relative;
	font-family: Roboto, serif;
}

.info h2{
	position: absolute;
	margin: 0;
	padding: 0;
	color: #fff;
}

.col-2 {
	height: 30px;
	background-color: #314996;
}


.col-12 img{
	width: 100%;
	height: 500px;
	height: inherit;
	object-fit: cover;
}

.col-3 img {
	width: 100%;
	height: inherit;
	object-fit: cover;
}



.title {
	width: 100%;
	height: 30px;
	position: absolute;
}

.footer{
	width: 100%;
	height: 180px;
	background-color: #A9A9A9;
	position: relative;

}

.inner_footer {
	width: 100%;
	height: 180px;
	background-color:;
	color: #000;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

.doe_logo {
	width: 200px;
	height: 160px;
	background-color: ;
	position: absolute;
	margin: 15px 90px;
	display: inline;
	left: 100px
}

.doe_logo img {
	width: inherit;
	height: inherit;
	object-fit: contain;
}

.bottom-school-name-box{
	width: 30%;
	height: 150px;
	position: absolute;
	background-color:;
	margin: 15px 100px;
	left: 450px;
	font-family: Rockwell, serif;
	text-align: center;
}

.bottom-school-name-box h1{
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 0;
	padding: 0;
}

.bottom-school-name-box h2{
	margin-top: 0;
	margin-bottom: 5px;
}

p{
	margin: 0;
}

.radio_logo {
	width: 200px;
	height: 150px;
	background-color:;
	position: absolute;
	left: 1300px;
	margin: auto;
}

.radio_logo img{
	width: inherit;
	height: inherit;
	object-fit: contain;

}

@media only screen and (max-width: 1024px){
	.col-2 {
		width: 100%;
		height: 300px;
	}
}
